<head>
	<!-- Load plotly.js into the DOM -->
	
</head>

<body>
	<div style="display: table;";>
		<div style="display : table-cell; height=750px; width=750px;" id='myDiv'></div>
		<div style="display : table-cell; width=250px;" id="shape" >
			<img id="bigpic" src="shape.png" height=500/>
		</div>
	</div>
	
	<script src="./jquery.js" type="text/javascript"></script>
	<script src="./jquery.csv.js"type="text/javascript"></script>
	<script src='./plotly.js'type="text/javascript"></script>
	<script src="./script.js"type="text/javascript"></script>
</body>